.jumbotron {
  background-color: black;
}

h1 {
  text-align: center;
}

img {
  height:200px;

}
#result {
  display: none;
  text-align: center;
}

#display {
  text-align: center;
  background-color: #9AFF9A;
}

ul {
  list-style-type: none;
}
