.jumbotron {
  background-image: url(../img/pizzaOven.jpg);
  background-size: cover;
  height: 500px;

}

h1 {
  margin-top: 200px;
  text-align: center;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

#result {
  display: none;
  text-align: center;
}

#display {
  text-align: center;
  background-color: #9AFF9A;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(../img/background.jpg);
  color: black;
}
col {
  background-color: white;
}

a {
  color: blue;

}
